---
import Layout from '../components/Layout.astro';
import Container from '../components/atoms/Container.astro';
import H1 from '../components/atoms/H1.astro';

const metaTags = {
  title: 'Studentská unie UTB',
  description:
    'Studentská unie UTB je nestátní nezisková organizace. Fungujeme od roku 2005, jsme zcela nezávislí na univerzitě a všichni jsme dobrovolníci. Jak se můžete dočíst v našich stanovách, naším posláním je dělat život ve Zlíně o něco příjemnější - pro studenty, zaměstnance UTB i pro veřejnost.',
  image: '/meta-image-404.jpg',
};
---

<Layout {...metaTags}>
  <section class="md:pt-16 pb-16 lg:pb-32 bg-gradient-to-b from-white via-white to-stone-100 md:text-center">
    <Container>
      <div class="py-16 min-h-[50vh] flex justify-center items-center">
        <div class="text-center">
          <div class="flex-shrink-0 flex justify-center"></div>
          <H1>Stránka nenalezena</H1>
          <p class="mt-2 text-base text-stone-500">Omlouváme se, ale vámi hledaná stránka nebyla nalezena.</p>
          <a
            href="/"
            class="block mt-6 font-semibold text-primary-600 hover:text-primary-500 text-lg transition duration-300"
            >Zpět na domovskou stránku<span aria-hidden="true"> &rarr;</span></a
          >
        </div>
      </div>
    </Container>
  </section>
</Layout>
