---
import Layout from '../components/Layout.astro';

const metaTags = {
  title: 'Studentská unie UTB',
  description: '',
};
---

<Layout {...metaTags}>
  <section class="py-12 min-h-screen bg-gradient-to-b from-white via-white to-stone-100">
    <div class="max-w-7xl mx-auto px-4 md:px-6 xl:px-8">
      <span class="italic">TODO: Breadcrumbs</span>
      <h1 class="text-7xl pt-12 font-extrabold tracking-wide">O nás</h1>
      <p class="text-xl pt-6 text-gray-700 tracking-wide leading-relaxed max-w-3xl">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam at arcu a est sollicitudin euismod. Aliquam
        erat volutpat. Aenean vel massa quis mauris vehicula lacinia.
      </p>
      <p class="text-xl pt-6 text-gray-700 tracking-wide leading-relaxed max-w-3xl">
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
        commodi consequatur?
      </p>
    </div>
  </section>
</Layout>
