---
import Layout from '../components/Layout.astro';
import Breadcrumbs from '../components/organisms/Breadcrumbs.astro';

const metaTags = {
  title: 'Studentská unie UTB',
  description: '',
};
---

<Layout {...metaTags}>
  <section class="pt-12 pb-16 min-h-screen bg-gradient-to-b from-white via-white to-stone-100">
    <div class="max-w-7xl mx-auto px-4 md:px-6 xl:px-8">
      <Breadcrumbs
        items={[
          {
            title: 'O nás',
            href: '/o-nas',
          },
        ]}
      />
      <h1 class="text-7xl pt-12 font-extrabold tracking-wide">O nás</h1>
      <p class="text-xl pt-6 text-gray-700 tracking-wide leading-relaxed">
        Studentská unie UTB je nestátní nezisková organizace. Fungujeme od roku 2005, jsme zcela nezávislí na univerzitě
        a všichni jsme dobrovolníci. Jak se můžete dočíst v našich stanovách, našim posláním je dělat život ve Zlíně o
        něco příjemnější - pro studenty, zaměstnance UTB i pro veřejnost. V praxi to znamená, že vytváříme velké
        množství nejrůznějších aktivit.
      </p>
      <p class="text-xl pt-6 text-gray-700 tracking-wide leading-relaxed">
        Tímto širokým záběrem se odlišujeme od všech ostatních studentských organizací v České republice. Jsme skupina
        asi čtyřiceti studentů, dobrovolníků, jejichž posláním je dělat život ve Zlíně studentům, zaměstnancům UTB, ale
        i široké veřejnosti o něco příjemnější.
      </p>
      <div class="grid grid-cols-2 gap-8 pt-32 pb-16 items-center">
        <img src="https://placehold.co/450x300" class="mx-auto" alt="" />
        <p class="text-xl pt-6 text-gray-700 leading-loose">
          <span class="font-bold text-2xl">S</span>polečně připravujeme jedny z největších studentských akcí ve Zlíně -
          ať už je to monstrózní Vítání prváků nebo Majáles, ale také elegantní univerzitní Reprezentační ples konající
          se v krásném prostoru Kongresového centra. Paradoxně připravujeme i ples pro pravé punkery - Antiples, který
          je znám především díky své legendární tradici převleků.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-8 py-16 items-center">
        <p class="text-xl pt-6 text-gray-700 leading-loose">
          <span class="font-bold text-2xl">O</span>rganizujeme oslavy Mezinárodního dne studentstva, rozsvěcujeme
          univerzitní vánoční stromeček a také odměňujeme nejlepší studenty na Galavečeru. Pivní spirála je další z
          akcí, které unie pořádá - tato legendární akce je jak stvořená pro nadšence pivního moku a poprvé ji pořádali
          studenti už před dvaceti lety.
        </p>
        <img src="https://placehold.co/450x300" class="mx-auto" alt="" />
      </div>
      <div class="grid grid-cols-2 gap-8 py-16 items-center">
        <img src="https://placehold.co/450x300" class="mx-auto" alt="" />
        <p class="text-xl pt-6 text-gray-700 leading-loose">
          <span class="font-bold text-2xl">P</span>řivádíme do Zlína zajímavé osobnosti - mohl sis například poslechnout
          přednášku moderátora Václava Moravce, legendárního Ladislava Špačka nebo Erika Taberyho - šéfredaktora
          časopisu Respekt. Současně úzce spolupracujeme s Knihovnou, Kolejemi a menzou, Job centrem a vlastně celou
          UTB.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-8 py-16 items-center">
        <p class="text-xl pt-6 text-gray-700 leading-loose">
          <span class="font-bold text-2xl">P</span>ráce na tolika reálných projektech je pro nás především obrovským
          zdrojem zkušeností. Kde jinde má člověk ještě během studia možnost zkusit vést tým lidí a nést plnou
          zodpovědnost za úspěch či neúspěch akce? Většina našich aktivit je čistě nezisková. Pokud však na některých
          získáme finance, investujeme je okamžitě dál - a to jak do vzdělání a rozvoje našich členů, tak do vás, všech
          ostatních studentů, zaměstnanců a veřejnosti Zlína.
        </p>
        <img src="https://placehold.co/450x300" class="mx-auto" alt="" />
      </div>
    </div>
  </section>
</Layout>
