---
import { Image } from 'astro:assets';
import Layout from '../components/Layout.astro';
import { Button } from '../components/atoms/Button';
import Container from '../components/atoms/Container.astro';
import H1 from '../components/atoms/H1.astro';
import Breadcrumbs from '../components/organisms/Breadcrumbs.astro';
import MajalesImage from '../images/pridej-se-k-nam/majales.jpg';
import VitaniPrvakuImage from '../images/pridej-se-k-nam/vitani-prvaku.jpg';

const metaTags = {
  title: 'Přidej se k nám | Studentská unie UTB',
  description:
    'Proč se přidat ke Studentské unii? To je jednoduché. SU byla založena v roce 2005, takže už máme něco za sebou. U nás si můžeš vymyslet svůj vlastní projekt nebo třeba jednoho dne vést akci pro tisíce lidí - jako je Majáles, Reprezentační ples nebo Vítání prváků.',
  image: '/meta-image-pridej-se-k-nam.jpg',
};
---

<Layout {...metaTags}>
  <section class="pt-12 pb-16 bg-gradient-to-b from-white via-stone-100 to-stone-100">
    <Container>
      <Breadcrumbs
        items={[
          {
            title: 'Přidej se k nám',
            href: '/pridej-se-k-nam',
          },
        ]}
      />
      <H1>Přidej se k nám</H1>
      <p
        class="sm:text-lg lg:text-xl pt-6 text-stone-700 tracking-wide leading-relaxed sm:leading-relaxed lg:leading-relaxed"
      >
        Proč se přidat ke Studentské unii? To je jednoduché. SU byla založena v roce 2005, takže už máme něco za sebou.
        U nás si můžeš vymyslet svůj vlastní projekt nebo třeba jednoho dne vést akci pro tisíce lidí - jako je Majáles,
        Reprezentační ples nebo Vítání prváků.
      </p>
      <p
        class="sm:text-lg lg:text-xl pt-6 text-stone-700 tracking-wide leading-relaxed sm:leading-relaxed lg:leading-relaxed"
      >
        Je známým faktem, že firmy nechtějí zaměstnat “nepoužitelné” absolventy bez praxe, protože studium by ti kromě
        vzdělání mělo přinést získání kontaktů a praktických zkušeností. 95 % našich absolventů najde práci ještě před
        řádným ukončením školy a naši bývalí členové pracují na cool manažerských postech.
      </p>

      <!-- Part 1 -->
      <div class="grid md:grid-cols-2 gap-8 pb-12 pt-24 md:pb-16 md:pt-32 items-center">
        <div class="md:pr-6 relative">
          <Image
            src={MajalesImage}
            class="mx-auto rounded-xl border border-stone-300 shadow-2xl shadow-stone-900/20 relative z-10"
            alt=""
          />
          <svg
            class="h-64 w-64 sm:h-96 sm:w-96 absolute left-0 -translate-x-[33%] md:-translate-x-[66%] top-0 -translate-y-[50%] md:-translate-y-[33%] opacity-[0.075]"
            viewBox="0 0 33 30"
          >
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-32.000000, -26.000000)" fill="#EE7711" fill-rule="nonzero">
                <g id="logo_su" transform="translate(32.000000, 26.000000)">
                  <path
                    d="M31.6614303,10.9753671 L31.6461172,10.9505143 C28.8773266,6.2163807 22.7691518,4.59562752 17.9868785,7.32614936 L17.9618208,7.33995646 L9.04127437,12.473438 C8.0265194,13.1068432 7.69938129,14.4232963 8.30113749,15.4518604 C8.90289369,16.4804245 10.2175909,16.851977 11.2755873,16.2924831 L20.1849969,11.1659051 L20.2086626,11.152098 C22.8620499,9.63553612 26.2521881,10.5287253 27.7969738,13.1513668 C27.8001368,13.1585474 27.8038604,13.165472 27.8081106,13.1720774 C29.337647,15.806544 28.432962,19.1716762 25.7840041,20.7010916 L16.8745944,25.8345731 C16.1497693,26.2117051 15.691893,26.9527486 15.6821275,27.7645048 C15.6723619,28.576261 16.1122806,29.3279293 16.8278268,29.7221069 C17.5433729,30.1162845 18.4192485,30.0894565 19.1089073,29.6522375 L28.018317,24.518756 C32.7856053,21.7694586 34.4143331,15.7146116 31.6614303,10.9753671 Z"
                  ></path>
                  <path
                    d="M23.9964494,17.5130924 C24.9832918,16.8676761 25.2916668,15.570913 24.6996489,14.5560335 C24.1076309,13.541154 22.8205805,13.1602018 21.7647383,13.6873335 L12.8420783,18.817863 L12.8169715,18.8316994 C10.1587035,20.3505405 6.76297093,19.4555673 5.21520557,16.8281917 C5.21268278,16.8207029 5.20891087,16.8136873 5.20404701,16.8074371 C3.67647267,14.1703254 4.58030354,10.8045773 7.22793003,9.27076114 L7.23629894,9.27076114 L16.1631434,4.13054613 C17.2296756,3.51692392 17.5928119,2.16182059 16.9742308,1.10383812 C16.3556498,0.0458556532 14.9895956,-0.31436954 13.9230634,0.299252629 L4.99621892,5.44361855 C0.216743751,8.19689743 -1.41789664,14.2660588 1.34039716,19.0171069 C1.34452252,19.0256871 1.34918088,19.0340049 1.35434535,19.0420124 C4.13157149,23.7822715 10.2480371,25.4054893 15.0403137,22.674062 L15.0640257,22.658842 L23.9964494,17.5130924 Z"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <p
          class="sm:text-lg lg:text-xl text-stone-700 leading-loose sm:leading-loose lg:leading-loose tracking-wide px-2"
        >
          <span class="font-bold text-2xl">V</span>e Studentské unii ti nabízíme možnost získání zkušeností, praxe,
          kontaktů a hlavně spousty kámošů. Můžeš se podílet na reálných projektech s rozpočtem až čtvrt milionu, můžeš
          vést 40ti členný tým a být zodpovědný za hladký průběh celé akce. Můžeš se tedy například rozvíjet v oblastech
          komunikace, managementu, marketingu, finančního řízení, účetnictví, ale i v uměleckých oborech jako je
          audiovize, grafika, produkce aj. Nevíš co z toho by si mohl dělat? To vůbec nevadí, my jsme taky nevěděli,
          důležité je rozhodnutí, že NĚCO dělat chceš.
        </p>
      </div>

      <!-- Part 2 -->
      <div class="grid md:grid-cols-2 gap-8 py-12 md:py-16 items-center">
        <p
          class="sm:text-lg lg:text-xl text-stone-700 leading-loose sm:leading-loose lg:leading-loose tracking-wide order-2 md:order-1 px-2"
        >
          <span class="font-bold text-2xl">A</span>le to je moc pěkný povídání, o tom žádné, jenže řada z nás šla do SU
          potkat partu fajn lidí, s kterýma se bude pravidelně bavit, podnikat spoustu aktivit od polštářové bitvy, přes
          vánoční večírek naruby až po víceméně pravidelnou hospodskou schůzi. Nemluvě o teambuildingových aktivitách,
          víkendech na chatě atd. Navíc k tomu získáš kopu skvělých zkušeností a díky kámošům kolem tebe ti Zlín nikdy
          nebude cizí.
        </p>
        <div class="md:pl-6 relative order-1 md:order-2">
          <Image
            src={VitaniPrvakuImage}
            class="mx-auto rounded-xl border border-stone-300 shadow-2xl shadow-stone-900/20 relative z-10"
            alt=""
          />
          <svg
            class="h-64 w-64 sm:h-96 sm:w-96 absolute right-0 translate-x-[66%] top-0 -translate-y-[33%] opacity-[0.075]"
            viewBox="0 0 33 30"
          >
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-32.000000, -26.000000)" fill="#EE7711" fill-rule="nonzero">
                <g id="logo_su" transform="translate(32.000000, 26.000000)">
                  <path
                    d="M31.6614303,10.9753671 L31.6461172,10.9505143 C28.8773266,6.2163807 22.7691518,4.59562752 17.9868785,7.32614936 L17.9618208,7.33995646 L9.04127437,12.473438 C8.0265194,13.1068432 7.69938129,14.4232963 8.30113749,15.4518604 C8.90289369,16.4804245 10.2175909,16.851977 11.2755873,16.2924831 L20.1849969,11.1659051 L20.2086626,11.152098 C22.8620499,9.63553612 26.2521881,10.5287253 27.7969738,13.1513668 C27.8001368,13.1585474 27.8038604,13.165472 27.8081106,13.1720774 C29.337647,15.806544 28.432962,19.1716762 25.7840041,20.7010916 L16.8745944,25.8345731 C16.1497693,26.2117051 15.691893,26.9527486 15.6821275,27.7645048 C15.6723619,28.576261 16.1122806,29.3279293 16.8278268,29.7221069 C17.5433729,30.1162845 18.4192485,30.0894565 19.1089073,29.6522375 L28.018317,24.518756 C32.7856053,21.7694586 34.4143331,15.7146116 31.6614303,10.9753671 Z"
                  ></path>
                  <path
                    d="M23.9964494,17.5130924 C24.9832918,16.8676761 25.2916668,15.570913 24.6996489,14.5560335 C24.1076309,13.541154 22.8205805,13.1602018 21.7647383,13.6873335 L12.8420783,18.817863 L12.8169715,18.8316994 C10.1587035,20.3505405 6.76297093,19.4555673 5.21520557,16.8281917 C5.21268278,16.8207029 5.20891087,16.8136873 5.20404701,16.8074371 C3.67647267,14.1703254 4.58030354,10.8045773 7.22793003,9.27076114 L7.23629894,9.27076114 L16.1631434,4.13054613 C17.2296756,3.51692392 17.5928119,2.16182059 16.9742308,1.10383812 C16.3556498,0.0458556532 14.9895956,-0.31436954 13.9230634,0.299252629 L4.99621892,5.44361855 C0.216743751,8.19689743 -1.41789664,14.2660588 1.34039716,19.0171069 C1.34452252,19.0256871 1.34918088,19.0340049 1.35434535,19.0420124 C4.13157149,23.7822715 10.2480371,25.4054893 15.0403137,22.674062 L15.0640257,22.658842 L23.9964494,17.5130924 Z"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </Container>
  </section>
  <section class="pb-12 sm:pb-16 bg-stone-100">
    <Container>
      <h2 class="text-2xl sm:text-3xl md:text-4xl pt-12 font-bold tracking-wide text-center">Naše základní hodnoty</h2>
      <ol
        class="list-decimal w-fit mx-auto max-w-xl pt-6 space-y-3 text-stone-800 text-sm sm:text-base md:text-lg pl-5"
      >
        <li>
          Snažit se o neustálý rozvoj prostředí, života a vzdělání studentů Univerzity Tomáše Bati ve Zlíně (dále jen
          „UTB”).
        </li>
        <li>Zastupovat zájmy studentů UTB při jednání s vedením univerzity, fakult a dalšími organizacemi.</li>
        <li>Spolupracovat s dalšími organizacemi zastupujícími studenty UTB.</li>
        <li>Reprezentovat studenty UTB při jednání na veřejnosti.</li>
        <li>Chránit zájmy členů, čestných členů SU UTB a studentů UTB.</li>
        <li>Vzdělávat členy SU UTB.</li>
        <li>
          Organizovat kulturní, společenské, vzdělávací a sportovní akce, a to primárně pro studenty UTB, zaměstnance
          UTB a veřejnost města Zlína.
        </li>
        <li>Informovat studenty o dění na UTB a jejich fakultách.</li>
        <li>Podporovat zapojení zahraničních studentů do dění na UTB.</li>
      </ol>
      <p class="max-w-xl mx-auto pt-12 text-center text-stone-700 text-xs md:text-sm">
        Více o našich hodnotách si můžete přečíst v našich stanovách
      </p>
      <a
        href="/files/stanovy-SU-UTB.pdf"
        target="_blank"
        rel="noopener noreferrer external"
        class="mx-auto block w-fit mt-3 text-sm sm:text-base font-semibold underline decoration-2 underline-offset-4 hover:text-primary-600 transition duration-300"
      >
        Stanovy SU UTB (PDF)</a
      >
    </Container>
  </section>
  <section class="py-16 sm:py-20 sm:px-6 lg:px-8 bg-stone-100">
    <div
      class="py-16 sm:py-20 px-4 sm:px-6 lg:px-8 max-w-5xl bg-gradient-to-br from-primary-600 to-primary-700 mx-auto text-center sm:rounded-2xl shadow-xl shadow-primary-600/30 relative"
    >
      <h2 class="text-3xl font-extrabold text-white sm:text-4xl lg:text-5xl tracking-wide">
        <span class="block">Takže se potkáme?</span>
      </h2>
      <p
        class="pt-6 pb-8 sm:text-lg leading-relaxed font-medium text-primary-50 max-w-3xl mx-auto md:text-xl lg:leading-relaxed"
      >
        Stačí prostě jenom napsat na su@sutb.cz nebo na Facebook, tak jednoduché to je. <br />
         V SU se nic nepodepisuje, ani se neplatí žádný členský příspěvek.
      </p>
      <Button type="link" href="/kontakt" variant="white" size="lg" text="Kontaktuj nás" />
      <svg
        class="h-64 w-64 sm:h-96 sm:w-96 absolute -left-4 -bottom-8 opacity-[0.075] pointer-events-none"
        viewBox="0 0 33 30"
      >
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-32.000000, -26.000000)" fill="#fff" fill-rule="nonzero">
            <g id="logo_su" transform="translate(32.000000, 26.000000)">
              <path
                d="M31.6614303,10.9753671 L31.6461172,10.9505143 C28.8773266,6.2163807 22.7691518,4.59562752 17.9868785,7.32614936 L17.9618208,7.33995646 L9.04127437,12.473438 C8.0265194,13.1068432 7.69938129,14.4232963 8.30113749,15.4518604 C8.90289369,16.4804245 10.2175909,16.851977 11.2755873,16.2924831 L20.1849969,11.1659051 L20.2086626,11.152098 C22.8620499,9.63553612 26.2521881,10.5287253 27.7969738,13.1513668 C27.8001368,13.1585474 27.8038604,13.165472 27.8081106,13.1720774 C29.337647,15.806544 28.432962,19.1716762 25.7840041,20.7010916 L16.8745944,25.8345731 C16.1497693,26.2117051 15.691893,26.9527486 15.6821275,27.7645048 C15.6723619,28.576261 16.1122806,29.3279293 16.8278268,29.7221069 C17.5433729,30.1162845 18.4192485,30.0894565 19.1089073,29.6522375 L28.018317,24.518756 C32.7856053,21.7694586 34.4143331,15.7146116 31.6614303,10.9753671 Z"
              ></path>
              <path
                d="M23.9964494,17.5130924 C24.9832918,16.8676761 25.2916668,15.570913 24.6996489,14.5560335 C24.1076309,13.541154 22.8205805,13.1602018 21.7647383,13.6873335 L12.8420783,18.817863 L12.8169715,18.8316994 C10.1587035,20.3505405 6.76297093,19.4555673 5.21520557,16.8281917 C5.21268278,16.8207029 5.20891087,16.8136873 5.20404701,16.8074371 C3.67647267,14.1703254 4.58030354,10.8045773 7.22793003,9.27076114 L7.23629894,9.27076114 L16.1631434,4.13054613 C17.2296756,3.51692392 17.5928119,2.16182059 16.9742308,1.10383812 C16.3556498,0.0458556532 14.9895956,-0.31436954 13.9230634,0.299252629 L4.99621892,5.44361855 C0.216743751,8.19689743 -1.41789664,14.2660588 1.34039716,19.0171069 C1.34452252,19.0256871 1.34918088,19.0340049 1.35434535,19.0420124 C4.13157149,23.7822715 10.2480371,25.4054893 15.0403137,22.674062 L15.0640257,22.658842 L23.9964494,17.5130924 Z"
              ></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </section>
</Layout>
