---

---

<h1
  class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl pt-8 sm:pt-10 lg:pt-12 font-extrabold tracking-wider leading-snug sm:leading-snug md:leading-snug lg:leading-snug"
>
  <slot />
</h1>
