---
import { Icon } from '../atoms/Icon.tsx';
import { SuLogo } from '../atoms/SuLogo';
---

<footer class="bg-stone-50 border-t border-stone-200">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <h2 class="flex justify-center items-center gap-4 uppercase font-bold tracking-wider text-stone-700">
      <SuLogo className="h-8" />
      <span>Studentská unie UTB</span>
    </h2>
    <nav
      class="-mx-5 pt-6 flex flex-col sm:flex-row items-center gap-y-2 flex-wrap justify-center tracking-wide text-stone-600"
      aria-label="Footer"
    >
      <div class="px-5 py-2">
        <a href="/" class="text-base hover:text-primary-600 transition duration-300"> Domů</a>
      </div>

      <div class="px-5 py-2">
        <a href="/o-nas" class="text-base hover:text-primary-600 transition duration-300"> O nás</a>
      </div>

      <div class="px-5 py-2">
        <a href="/pridej-se-k-nam" class="text-base hover:text-primary-600 transition duration-300"> Přidej se k nám</a>
      </div>

      <div class="px-5 py-2">
        <a href="/kontakt" class="text-base hover:text-primary-600 transition duration-300"> Kontakt</a>
      </div>

      <div class="px-5 py-2">
        <a
          href="https://www.dropbox.com/sh/51qauayq1k7igq6/AAAznMWvYwv5wxA6ZAW79DGra?dl=0"
          target="_blank"
          rel="noopener noreferrer external"
          class="text-base hover:text-primary-600 transition duration-300"
        >
          Press Kit</a
        >
      </div>

      <div class="px-5 py-2">
        <a
          href="/files/stanovy-SU-UTB.pdf"
          target="_blank"
          rel="noopener noreferrer external"
          class="text-base hover:text-primary-600 transition duration-300"
        >
          Stanovy</a
        >
      </div>
    </nav>
    <div class="mt-8 flex justify-center space-x-6">
      <a
        href="https://www.facebook.com/studentskaunieutb"
        target="_blank"
        rel="noopener noreferrer external"
        class="text-stone-500 hover:text-primary-600 transition duration-300"
      >
        <span class="sr-only">Facebook</span>
        <Icon name="facebook" className="h-6 w-6" />
      </a>

      <a
        href="https://www.instagram.com/studentskaunieutb/"
        target="_blank"
        rel="noopener noreferrer external"
        class="text-stone-500 hover:text-primary-600 transition duration-300"
      >
        <span class="sr-only">Instagram</span>
        <Icon name="instagram" className="h-6 w-6" />
      </a>
      <a
        href="https://www.youtube.com/channel/UCUf0jyYFASsAgS08yIEXdmQ"
        target="_blank"
        rel="noopener noreferrer external"
        class="text-stone-500 hover:text-primary-600 transition duration-300"
      >
        <span class="sr-only">Youtube</span>
        <Icon name="youtube" className="h-6 w-6" />
      </a>
    </div>
    <p class="mt-8 text-center text-base text-black/40">&copy; 2023 Studentská unie UTB, všechna práva vyhrazena.</p>
  </div>
</footer>
